# Ignore node_modules and npm debug logs
node_modules
npm-debug.log
yarn-error.log

# Ignore build directories
.next
out
dist

# Ignore local environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Ignore miscellaneous files
*.log
*.swp
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore tests and documentation
__tests__
__mocks__
coverage
docs